.header {
  background: $pure-white-color;
  border: 1px solid #ececec;

  &__contact {
    line-height: 1.14;
    font-weight: 500;
    font-size: 14px;
    display: none;
  }

  &__mail,
  &__phone {
    display: flex;
    color: $grey-color;
    align-items: center;
  }

  &__mail:hover .header__icon,
  &__mail:focus .header__icon,
  &__phone:hover .header__icon,
  &__phone:focus .header__icon {
    fill: $link-hf-color;
    color: $link-hf-color;
  }

  &__icon {
    margin-right: 10px;
    fill: $grey-color;
  }

  &__logo {
    padding: 23px 0;
  }
}

.navigation {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &__page > a {
    padding: 30px 0;
  }

  &__page.current {
    color: $link-hf-color;
  }
}

@media (min-width: 768px) {
  .navigation {
    display: flex;
    gap: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header__contact {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
  }
}

@media (min-width: 1200px) {
  .header__contact {
    gap: 40px;
    display: flex;
  }
}

.current::after {
  background: #2196f3;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  top: 29px;
}

.mbl {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__menu {
    border: none;
    display: flex;
    background: none;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__menu:hover,
  &__menu:focus {
    fill: $link-hf-color;
  }

  &__title {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 118px 0;
    max-width: 360px;

    @media (min-width: 480px) and (max-width: 1199px) {
      padding: 200px 0;
    }

    @media (min-width: 1200px) {
      max-width: 900px;
      padding: 200px 0;
    }
  }
}
