.categories {
  border-color: $white-color-one;
  background-color: $white-color-one;
  border-radius: 4px;
  padding: 6px 24px;
  line-height: 26px;
  font-weight: 500;
  font-size: 16px;
  border: none;

  &:hover,
  &:focus {
    color: $pure-white-color;
    background-color: $link-hf-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  &__filter {
    padding: 0;
    justify-content: center;
    gap: 8px;
  }
}

.projects {
  margin: 50px 0 0 0;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;

  &__card:hover,
  &__card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__title {
    margin: 0 0 22px 0;
  }

  &__type {
    padding: 24px 20px;
  }

  &__type > p {
    color: $grey-color;
  }

  &__overlay {
    position: relative;
    overflow: hidden;
    width: 370;
    height: 294;
  }

  &__overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $pure-white-color;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
  }

  &__card {
    width: 370px;
    height: 404px;
    border: 1px solid #eeeeee;
  }
}

.not-hv:hover,
.not-hv:focus {
  color: black;
}

.not-hv:hover .projects__overlay-text,
.not-hv:focus .projects__overlay-text {
  transform: translateY(0);
}

.basket {
  margin: 0 0 6px 0;
}
