.team {
  background: $white-color-one;

  &__cards {
    justify-content: center;
    padding: 0;
  }

  &__title {
    margin: 0 auto 35px auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
}

.card {
  width: 270px;
  height: 428px;
  background: $pure-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 36px;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}

.smcircle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: $pure-white-color;

  &:hover,
  &:focus {
    background-color: $link-hf-color;
  }

  &:hover &__icon,
  &:focus &__icon {
    fill: $pure-white-color;
  }

  &__icon {
    fill: $light-grey-color;
  }
}

.member {
  width: 270px;
  height: 260px;

  &__description {
    padding: 30px 44px;
  }

  &__andres {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__carla {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__mario {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__pablo {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }

  &__text {
    text-align: center;
    color: $grey-color;
  }
}
