$logo-color: #2196f3;
$link-hf-color: #2196f3;
$pure-white-color: #fff;
$white-color-one: #f5f4fa;
$light-grey-color: #afb1b8;
$grey-color: #757575;

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 auto;
}

body {
  font-family: roboto, sans-serif;
  font-style: normal;
  color: #212121;
}

.section {
  padding: 94px 0;
}

.semi-section {
  padding: 94px 0 0 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;

  &:focus,
  &:hover {
    color: $link-hf-color;
  }
}

.flex {
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $link-hf-color;
}

.center {
  text-align: center;
}
